black==22.1.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
coverage==6.3.2
cssselect==1.1.0
flake8==4.0.1
greenlet==1.1.2
idna==3.3
isort==5.10.1
lxml==4.8.0
mccabe==0.6.1
mypy-extensions==0.4.3
parsel==1.6.0
pathspec==0.9.0
platformdirs==2.5.1
pycodestyle==2.8.0
pyee==8.1.0
pyflakes==2.4.0
requests==2.27.1
six==1.16.0
tomli==2.0.1
urllib3==1.26.9
w3lib==1.22.0
websockets==10.1
